<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Start Bank</title>
  <link rel="stylesheet" href="Transacciones.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script src="angular.min.js"></script>
  <script src="Servicios.js"></script>
</head>
<body>
  <div class="carga" id="carga">
    <div class="spinner"></div>
  </div>
  <h1 class="logotipo"> <img src="SB.png" alt="Texto alternativo para la imagen">START BANK</h1>
    <br><div class="tarjeta"><h4></h4></div>
    <div class="listo">
     <h2 ><img src="cheque.png" alt="Texto alternativo para la imagen"> Operación Exitosa</h2>
    </div>
    <div class="LOGO">
      <img src="SB.png" alt="Texto alternativo para la imagen">
    </div><br>
    <div>
    <div>
    <div ng-controller="servicio">
      <h4>Servicio/Empresa: {{ ultimaOperacion }}</h4>
    </div>
    <div ng-controller="pago"> 
      <h4>Referencia: {{referencia}}</h4>
    </div>
    <div ng-controller="pago"> 
    <h4>Monto: ${{monto | currency }}</h4>
    </div>
    <div ng-controller="folio">
      <h4>Folio: {{folio}}</h4>
    </div>
    <div ng-controller="fecha">
      <h4>Fecha: {{ fechaActual }} </h4>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div ng-controller="servicio" class="container"> 
      <button type="button" ng-click="redirigir('MenuServicios.html')">Otra Pago</button>
      <button type="button" ng-click="redirigir('Principal.html')">Salir</button>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      setTimeout(function() {
        var cargaElement = document.getElementById('carga');
        if (cargaElement) {
          cargaElement.style.display = 'none';
        }
        var logoElement = document.getElementById('LOGO');
        if (logoElement) {
          logoElement.style.display = 'block';
        }
      }, 2000);
    });
  </script>
</body>
</html>
